.styled-icon {
  vertical-align: middle;
  padding: 15px 0px;
  border-radius: 10px;
}

.styled-icon-primary {
  background-color: #8476F5;
  box-shadow: 0px 0px 15px rgba(132, 118, 245, .3);
}
.styled-icon-success {
  background-color: #42A746;
  box-shadow: 0px 0px 15px rgba(66, 167, 70, .3);
}
.styled-icon-info {
  background-color: #1ca2b8;
  box-shadow: 0px 0px 15px rgba(28, 162, 184, .3);
}

.styled-icon svg {
  color: #fff;
  display: block;
  margin: 0 auto;
}