@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.Toastify__toast {
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 10px;
}

textarea:focus, 
select:hover,
select:active,
select:focus,
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
  border-color: #8476F5;
}
input.form-control {
  padding: 25px 10px;
}

.btn:focus {
  box-shadow: none!important;
}

.btn-primary, .btn-primary:disabled {
  background-color: #8476F5;
  border-color: #8476F5;
}
.btn-primary:hover {
  background-color: #695CCD;
  border-color: #695CCD;
}
.btn-primary:disabled:hover {
  background-color: #8476F5;
  border-color: #8476F5;
}
.btn-primary:active, .btn-primary:target, .btn-primary:focus {
  background-color: #483f91!important;
  border-color: #483f91!important;
  box-shadow: 0px 0px 5px #483f91!important;
}

.btn-white {
  background-color: #fff;
  color: #8476F5;
}
.btn-white:hover {
  background-color: #f4f4f4;
  color: #8476F5;
}

.button-spinner {
  vertical-align: middle;
}

.badge {
  padding: 6px 10px;
  font-size: 10px;
  font-weight: 500;
}

.badge.badge-primary {
  background-color: #e0dcff;
  color: #695CCD;
}

.badge.badge-secondary {
  background-color: rgb(218, 218, 218);
  color: #161616;
}

.badge.badge-info {
  background-color: #d9f0f0;
  color: #1CA2B8;
}

/* DATATABLE */
.datatable-container .card {
  border: none;
}

.datatable-container .search {
  padding: 5px 10px;
}

.datatable-container thead th {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  color: #7a7a7a;
  border: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.datatable-container tbody td {
  padding: 14px 0px 14px 20px;
  font-size: 13px;
  color: #4a4a4a;
  transition: all .15s;
  cursor: pointer;
}

.datatable-container tbody tr:hover td {
  background-color: #f5f5f5;
}

/* FORM */
.form-container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, .25);
}

.form-container form {
  padding: 100px 50px 150px 50px;
  text-align: center;
}

.form-container .form-title {
  padding-bottom: 30px;
}

.form-container .form-title h1 {
  font-size: 30px;
  color: #695CCD;
}
.form-container .form-title span {
  font-size: 15px;
  color: rgb(146, 146, 146);
}

.form-container .form-message {
  position: relative;
  padding: 0px;
  background: rgb(105,92,205);
  background: linear-gradient(144deg, rgba(105,92,205,1) 75%, rgba(105,92,205,1) 86%, rgba(132,118,245,1) 100%);
  color: #fff;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}

.form-message div {
  position: absolute;
  width: 80%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-message h2 {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 10px;
}
.form-message p {
  font-size: 12px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .form-message {
    display: none;
  }
}

/* MODALS */
.modal-container {
  padding: 30px 30px 10px 30px;
  text-align: center;
}

.modal-container .heading {
  border-bottom: 1px solid #ccc;
}

.modal-container .heading h2 {
  font-size: 22px;
  color: #4a4a4a;
}

.modal-container .heading p {
  font-size: 11px;
  color: #8b8b8b;
  font-weight: 400;
}

.modal-container .body {
  padding: 30px 0px;
}

.modal-container .body form {
  text-align: left;
}

.modal-container .body form label {
  font-size: 13px;
  color: #3a3a3a;
}
.modal-container .body form input {
  padding: 3px 10px;
}

.modal-container .footer {
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.modal-container .footer button {
  margin: 0px 5px;
}